# Must change: token, user_groups:admins:ids
telegram:
  token: 'enter your telegram token here'  # Search for Botfather in your favorite search engine for instructions
  rejected_message: "Unauthorized user :p" # Message to return to users not in any group when talking to the bot. Empty string for silently ignoring them instead
  user_groups:                     # See README.md for explanation on user groups
    admins:                        # There can be any number of device groups and names (e.g. admins, family, guests) are free-form
      ids: [ 0, 1, 2 ]             # See README.md for how to get a user id
      access_level: ADMIN          # possible values: ADMIN, HSM, DEVICE, NONE. see README.md for details
      device_groups: [ "all" ]     # device groups are defined in hubitat:device_groups below
    family:                        # The "family" and "guests" groups can be deleted or renamed if not of any use.
      ids: [ ]
      access_level: HSM
      device_groups: [ "regular" ]
    guests:
      ids: [ ]
      access_level: DEVICE
      device_groups: [ "limited" ]

# Must change: url, appid, token
hubitat:
  url: 'http://ipaddress/'               # What you type in the browser to log on to Hubitat
  appid: 123                             # Log in to Hubitat, go in Apps, Maker API. The Id in is in the url
  token: 'enter your hubitat token here' # Log in to Hubitat, go in Apps, Maker API, The token is in the examples
  case_insensitive: true                 # If true, "/on office" turns on device "Office". Switch to false if some devices only differ by case
  # List of available values for the "/arm" command
  hsm_arm_values: ['armAway', 'armHome', 'armNight', 'disarm', 'disarmAll', 'armAll', 'CancelAlerts']
  # List of regex replacements to perform on provided device name, if not found. \\n with n a number corresponds to the n'th
  # captured string. In the example given below, if performing "/on Office" and no device called "Office" exists, the robot will
  # look for a device named "Office Light"
  device_aliases: [ [ "^(.*)$", "\\1 Light" ], [ "^(.*) Closet$", "\\1 Walking Closet Light" ], [ "^hw$", "Hot Water" ] ]
  device_groups:                # See README.md for explanation on device groups
    all:                        # Names are free-form and referenced by telegram:user_groups:<something>:device_groups
      allowed_device_ids:  [ ]  # List of Hubitat device ids to allow. If empty, all are allowed unless explicitly rejected 
      rejected_device_ids: [ ]  # List of Hubitat device ids to reject
    regular:                    # In this example, the 'regular' device group includes all devices exposed by Hubitat's MakerAPI but the device with Id 789
      allowed_device_ids:  [ ]
      rejected_device_ids: [ 789 ]
    limited:                    # In this example, the 'limited' device group only includes devices exposed by Hubitat with Id 123 or 456
      allowed_device_ids:  [ 123, 456 ]
      rejected_device_ids: [ ]

main:
  logverbosity: WARNING  # possible values: DEBUG, INFO, WARNING, ERROR, CRITICAL